* {
    font-family: 'Tanker', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-columns: 5% 95%;
    height: 100vh;
    background-color: #F5FEE0;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20% calc(40% - 10px) calc(40% - 10px);
    gap: 10px;
    grid-template-areas: 
    'perfil perfil . missao'
    'calendario calendario calendario missao'
    'calendario calendario calendario missao';
    padding: 10px;
    height: 100vh;
}
.perfil, .calendario, .missao{
    background-color: #fcfff6;
    box-shadow: rgba(121, 163, 128, 0.68) 0px 1px 4px;
}

.missao {
    grid-area: missao;
    height: 100%;
    width: 100%;

    padding: 5px;
    border-radius: 8px;
}
.calendario2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }
  
.missaoM {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.missaobd {
    padding: 15px 8px;
    border-radius: 10px;
    box-shadow: rgba(121, 163, 128, 0.68) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /* box-shadow:  0px 1px 4px; */
}
.missaobd:hover {
    cursor: pointer;
    background-color: rgba(170, 206, 176, 0.68);
    transition: all 0.3s ease-in-out;
}
[data-missao-form] {
    display: flex;
}
[data-dialog="form-evento"] {
    height: 50%;
    aspect-ratio: 1/1;
}
.lado1, .lado2, .lado21 {
    width: 50%;
    display: flex;
    flex-direction: column;
}
form#formnomeheroico {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
form#formnomeheroico input {
    width: 60%;
}
#btnnomeheroico {
    border: none;
    height: 25px;
    border-radius: 8px;
    width: 40%;
    background-color: #2d473d;
    color: #F5FEE0;
}
.clique {
    color: #808080;
}
[data-dialog="evento"] {
    border: none;
    align-self: center;
    justify-self: center;
    border: none;
    border-radius: 10px;
    height: 50%;
    aspect-ratio: 1 / 1;
}
.tarefabd {

}
[data-dialog="form-missao"] {
    width: 80%;
    height: 70%;
}
.esse {
    border: none;
    height: 25px;
    border-radius: 8px;
    width: 100%;
    background-color: #2d473d;
    color: #F5FEE0;
}
[data-dialog="form-missao2"] {
    width: 80%;
    height: 70%;
}

.tarefam {
    display: flex;
}

.butoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.cagado, .jabuti, .tartaruga {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.butoes button {
    border: none;
    height: 25px;
    border-radius: 8px;
    width: 100%;
    background-color: #2d473d;
    color: #F5FEE0;
}
.tarefam input[type="date"] {
    border: none;
}
[data-criar-missao] {
    width: 100%;
}
.dialogmdentro {
    padding: 20px;
    height: 100%;
}

.lado21 img {
    width: 50%;
    aspect-ratio: 1 / 1;
    align-self: center;
}
.infomissao {
    display: flex;
    gap: 10px;
}
dialog.dialog {
    align-self: center;
    justify-self: center;
    border: none;
    border-radius: 10px;
}
.cima {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
nav {
    background-color:rgba(121, 163, 128, 0.68);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    
}
nav #logo {
    width: 90%;
    fill:  #1e2f29;
}
nav button {
    background-color: transparent;
    border: none;
}
.perfil {
    grid-area: perfil;
    /* background-color: blue; */
    border-radius: 10px;
}
.tarefas {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 10px;
    align-items: center;
}
.tarefas2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 10px;
    align-items: center;
}
.tarefam {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 3px;
}
.tarefam button {
    background-color: transparent;
    border: none;
}
.tarefasdia {
    background-color: blueviolet;
    grid-area: tarefas;
}
.calendario {
    grid-area: calendario;
    display: flex;
    flex-direction: column;
    height: 100%;

    padding: 8px;
    border-radius: 8px;
}
.calendario-todo{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.diasdasemanalista-mes{
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    border-bottom: 1px solid gray;
}
.diasdasemananome {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 3px;
}

.diasdasemana-mes {
    height: 100%;
}
.calendario-mes {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.diaslista {
    height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* Use minmax(0, 1fr) para que cada linha não ultrapasse o espaço disponível */
  grid-auto-rows: minmax(0, 1fr);
  overflow: hidden;
}
.quatro-semanas {
    grid-template-rows: repeat(4, minmax(auto, 1fr));
}
.cinco-semanas {
    grid-template-rows: repeat(5, minmax(auto, 1fr));
}
.seis-semanas {
    grid-template-rows: repeat(6, minmax(auto, 1fr));
}
.diadasemana {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    height: 100%;  
    /* flex-grow: 1;   */
    overflow: hidden; 
}

.diadasemana .numerododia {
    width: fit-content;
    justify-content: center;
    align-self: center;
    background-color: transparent;
    border: none;
    font-weight: 500;
}
.numerododia {
    flex: 0 0 auto;
  }
.listadeeventos {
    list-style: none;
    /* overflow-y: auto;  
    flex-grow: 1;  */
    flex: 1 1 auto;
  overflow-y: auto;
}
.nav-calendario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.controles {
    display: flex;
    flex-direction: row;
    height: 80%;
    gap: 15px;
}
.controles button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.hoje {
    display: flex;
}
.hoje button {
    border: 1px solid gray;
    border-radius: 0.5rem;
    padding: 4px 15px;
}
.hoje button:hover {
    background-color: rgb(144, 255, 127);
    transition: all 0.3s ease-in-out;
}
.nav-data {
    font-weight: bold;
    color: rgb(2, 72, 2);
}
.nome {
    font-weight: bold;
}
.missaoM h1 {
    color: rgb(2, 72, 2);
}
.missaoM button {
    background-color: transparent;
    border: none;
}
.missoesbd {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 8px;
}
.setinhas {
    display: flex;
    flex-direction: row;
}
.adicionartarefa button{
    height: 100%;
}
.icone-button {
    display: flex;
    align-self: center;
    height: 100%;
}
.icone-button:hover {
    color: rgb(89, 201, 15);
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
}
.calendario-semana {
    height: 100%;
    flex-direction: column;
    transition: all 1.3s ease-in-out;
}
.diasdasemanalista-semana {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    border-bottom: 1px solid gray;
    /* padding: 3px; */
    margin-bottom: 3px;
}
.diadasemana-semana {
    list-style: none;
}
.diasdasemanatodoslista-semana {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    height: 100%;
}
.diadasemana-semana-button {
    background-color: transparent;
    border: none;
}

.diadasemana-semana {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 3px;
}
.diasdasemanatodoslista-semana-dia {
    list-style: none;
    border-left: 1px solid gray;
    
}
.diasdasemanatodoslista-semana-dia:last-child {
    border-right: 1px solid gray;
}
.highlight {
    background-color: hwb(128 78% 5% / 0.747);
}
.evento {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    width: 100%;
}
.evento:hover {
    /* background-color: antiquewhite; */
}
.linha {
    display: flex;
}
.but-evento {
    width: 100%;
    display: flex;
}
.evento-titulo:hover {
    background-color: antiquewhite;
}
.evento-titulo {
    width: 100%;
    display: flex;
}
.feito {
    text-decoration: line-through;
    text-decoration-color: #808080;
    color: rgb(182, 182, 182);
    transition: all 300ms ease-in-out;
}
.dialog2 {
    border: none;
    width: 90vw;
    height: calc(100vh - 24px);
    bottom: 12px;
    top: auto;
    left: 50%;
    transform: translate(-50%);
    margin: 0;
    padding: 0;
    background-color: transparent;
    max-width: none;
    max-height: none;
    border-radius: 15px;
}
.dialog21 {
    position: relative;
    height: 100%;
}
.dialogo22 {
    position: absolute;
    width: 100%;
    height: 80%;
    z-index: 1;
    border-radius: 15px 15px 0 0;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.jabuti:hover, .cagado:hover, .tartaruga:hover {
    border: solid 1px white;
}
.jabuti {
    background-color: green;
}
.cagado {
    background-color: maroon;
}
.tartaruga {
    background-color: blue;
}
.dialogo22 div {
    width: 29%;
    aspect-ratio: 1 / 1.4;
    max-height: 100%;
    display: flex;
    padding: 10px;
    justify-content: center;
}
.dialog2dentro {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 20%;
    background: white; 
    color: black; 
    font-size: 16px;
    border-radius: 15px;
    z-index: 1;
    display: flex;
    padding: 15px;
}
.dialog21 img {
    position: relative;
    height: 36vh;
    top: calc(100% - 38%);
    z-index: 3;
}
.espacamentoimg {
    height: 100%;
}

.dialogo {
    color: black;
}
.dialogo p {
    transition: all 0.3s ease-in-out;
}
.dialog2::backdrop {
    background: rgba(0, 0, 0, 0.344) ;
}
[type=checkbox] {
    width: 16px;
    height: 16px;
    color: #FFFFFF;
    display: flex;
    appearance: none;
    justify-content: center;
    align-items: center;
    background: none;
    border: 0;
    outline: 0;
    border-radius: 50%;
    transition: background 300ms;
    cursor: pointer;
}
[type=checkbox]::before {
    content: "";
    color: transparent;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: cover;
    box-shadow: inset 0 0 0 1px #CCD3D8;
}
[type=checkbox]:checked::before {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23808080'/%3E %3C/svg%3E");
}
.perfil img {
    height: 100%;
}
.moedas {
    display: flex;
    gap: 5px;
}
.barratotal {
    width: 100%;
    background-color: #808080;
}
.dados {
    width: 100%;
}
.dados .barra {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bv {
    background-color: rgb(197, 71, 71);
}
[data-event-form] {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 90%;
}
[data-event-form] button {
    border: none;
    height: 25px;
    border-radius: 8px;
    width: 100%;
    background-color: #2d473d;
    color: #F5FEE0;
}
.baixo {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
form.lado1 div {
    display: flex;
    gap: 5px;
}
[data-event-form] button:hover {
    background-color: #21342d;
    cursor: pointer;
}
.fechardialog {
    align-self: end;
    background-color: transparent;
    border: none;
}
.dialogd {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
}
dialog h1 {
    color: rgb(2, 72, 2);
}
.tarefabd {
    display: flex;
    flex-direction: column;
}
.bx {
    background-color: rgb(71, 197, 184);
    display: flex;
}
.perfil {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 15px;
}
@media (max-width: 767px) {
    .diasdasemana-semana {
        display: none;
    }
    body {
        grid-template-columns: 100%;
        grid-template-rows: 6vh 94vh;
    }
    nav {
        flex-direction: row;
        display: flex;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr 1fr;
        gap: 10px;
        grid-template-areas: 
        'perfil tarefas'
        'calendario calendario'
        'pomodoro missoes';
        padding: 10px;
    }
}