* {
    box-sizing: border-box;
}

body {
    margin: 0;
    margin-top: 108px; /* 78px de padding e 30px de margin do nav */
    background-color: #F5FEE0;
    font-family: 'Tanker', sans-serif;
}
nav {
    margin: 15px;
    height: 78px;
    border-radius: 23px;
    background-color: rgba(121, 163, 128, 0.68);
    backdrop-filter: blur(2px);
    position: fixed;
    z-index: 2;
    top: 0;
    width: calc(100% - 30px); /*o -30px é por conta do padding, 15 de cada lado */
    box-sizing: border-box;
    
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}
.menu .esquerda {
    margin-right: auto;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    
}
.menu .esquerda svg {
    width: 50px;
    aspect-ratio: 1/1;
}
#logo {
    transition: all 0.5s ease-in-out;
}
.section-inicio #logo {
    fill: #21342d;
    
}
.section-comofunci #logo {
    fill: #c9f4e4;
    
}
.menu li {
    text-decoration: none;
    list-style: none;
    margin: 10px;
}
li a {
    text-decoration: none;
    color: #2d473d;
    font-weight: 600;
}
li button {
    border: none;
    height: 25px;
    border-radius: 8px;
    width: 60px;
    background-color: #2d473d;
    color: #F5FEE0;
}
li button:hover {
    background-color: #21342d;
    cursor: pointer;
}
main {
    /* margin-left: 20px;
    margin-right: 20px; */
}
.inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100dvh;
}
.inicio1 {
    padding-left: 100px;
}
.inicio h1 {
    font-family: 'Erode', serif;
    font-size: 110px;
    color: #2d473d;
    line-height: 70px;
    font-weight: 650;
    margin-bottom: 35px;
    margin-top: 35px;
}
.inicio p {
    font-size: 27px;
    margin: 0;
    color: #2d473d;
    display: flex;
    justify-content: center;
    font-weight: 501;
    margin-bottom: 15px;
}
.butcentro {
    display: flex;
    justify-content: center;
}
.inicio button {
    width: 300px;
    height: 40px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    color: #F5FEE0;
    background-color: #2d473d;
}
.inicio button:hover {
    background-color: #21342d;
    cursor: pointer;
}
.inicio img {
    height: 550px;
}
.comofunci {
    background-color: #2d473d;
    /* position: absolute; */
    left: 0;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}
.pt1 {
    margin-bottom: 40px;
}
.pt1 h1, .pt2 h1, .sobre h1 {
    font-family: 'Erode', serif;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
}
.pt1 p, .pt2 ul, .sobre p {
    line-height: 28px;
    font-size: 18px;
    font-weight: 500;
}
.pt2 ul {
    padding-left: 20px;
}
.comofunci {
    color: #F5FEE0;
}
.sobre {
    /* margin-top: 550px; */
    padding: 50px 50px;
    height: 100dvh;
    display: flex;
    align-items: center;
}
footer {
    background-color: #1A4862;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p {
    margin: 0;
    color: #F5FEE0;
}
.modal {
    display: none;
    position: fixed; 
    z-index: 3; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding: 30px;
}

.bloco {
    height: calc(100% - 80px);
    border-radius: 20px;
    margin: 40px 180px;
}
.container {
    position: relative;
    overflow: hidden;
    height: calc(100%);
    width: calc(100%);
    border-radius: 20px;
    background-color: #b7c0dd;
    box-shadow: 0 0 10px 2.5px rgb(0 0 0 / 20%);
}
form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
}
.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    padding: 30px;
    border-radius: inherit;
}

.login-container {
    left: 0;
    width: 50%;
    z-index: 2;
    border-radius: inherit;
}
.login-container form {
    align-items: center;
}
.login-container h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 85px;
}
.login-container input[type="email"],.login-container input[type="password"] {
    height: 45px;
    width: 400px;
    border-radius: 15px;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}
.login-container form a {
    text-decoration: none;
}
.login-container form input[type="submit"] {
    margin: 40px;
    /* width: 300px;
    height: 40px; */
    border-radius: 15px;
    border: none;
    background-color: #2d473d;
    color: #F5FEE0;
    font-weight: 500;
    font-size: 17px;
    padding: 12px 80px;
    transition: all 0.3s ease-in-out;
}
.login-container form input[type="submit"]:hover {
    letter-spacing: 3px;
    cursor: pointer;
}
.container.painel-direito-ativo .login-container {
    transform: translateX(100%);
    opacity: 0;
}

.registro-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}
.registro-container form {
    align-items: center;
}
.registro-container h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 65px;
}
.registro-container input[type="email"],.registro-container input[type="password"], .registro-container input[type="text"]{
    height: 45px;
    width: 400px;
    border-radius: 15px;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}
.registro-container form input[type="submit"] {
    /* margin: 40px; */
    /* height: 40px; */
    border-radius: 15px;
    border: none;
    background-color: #2d473d;
    color: #F5FEE0;
    font-weight: 500;
    font-size: 17px;
    padding: 12px 80px;
    transition: all 0.3s ease-in-out;
}
.registro-container form input[type="submit"]:hover {
    letter-spacing: 3px;
    cursor: pointer;
}
.container.painel-direito-ativo .registro-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
}

.container.painel-direito-ativo .overlay-container {
    transform: translate(-100%);
}

.overlay {
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    background-image: url("/img/fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.escuro {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}

.overlay::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.container.painel-direito-ativo .overlay {
    transform: translateX(50%);
}

.overlay-painel {
    position: absolute;
    display: flex;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    padding: 90px 70px;
    color: #fff;
}

.overlay-esquerda {
    transform: translateX(-20%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay-painel button {
    /* width: 250px; */
    
    background-color: rgba(255, 255, 255, 0.304);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    border: solid 1px #fff ;
    border-radius: 18px;
    text-shadow: 0 0 10px rgb(0 0 0 / 50%);
    box-shadow: 0 0 10px 2.5px rgb(0 0 0 / 20%);
    padding: 12px 80px;
    transition: all 0.3s ease-in-out;
}
.overlay-painel button:hover {
    letter-spacing: 3px;
    cursor: pointer;
}
.overlay-painel h1 {
    text-shadow: 0 0 10px rgb(0 0 0 / 50%);
    margin-bottom: 60px;
    font-size: 50px;
    text-align: center;
    font-family: 'Erode', serif;
}
.overlay-painel p {
    text-align: center;
    font-size: 23px;
    margin-bottom: 60px;
    text-shadow: 0 0 10px rgb(0 0 0 / 50%);
}
.container.painel-direito-ativo .overlay-esquerda {
    transform: translateX(0);
}

.overlay-direita {
    right: 0;
    transform: translateX(0);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container.painel-direito-ativo .overlay-direita {
    transform: translateX(20%);
}
