@media (max-width: 768px) {
  .login-container, .registro-container {
      width: 100%;
      left: 0;
      transform: translateY(0);
      transition: transform 0.6s ease-in-out;
  }

  .container.painel-direito-ativo .login-container {
      transform: translateY(-100%);
      opacity: 0;
  }

  .container.painel-direito-ativo .registro-container {
      transform: translateY(0);
      opacity: 1;
      z-index: 5;
  }

  .overlay-container {
      display: none; /* Esconde o overlay em telas menores */
  }

  .bloco {
      margin: 20px; /* Ajuste o margin para telas menores */
  }

  .login-container input[type="email"], 
  .login-container input[type="password"], 
  .registro-container input[type="email"], 
  .registro-container input[type="password"], 
  .registro-container input[type="text"] {
      width: 100%; /* Ajuste a largura dos inputs para telas menores */
  }
}